html,
body {
  width: 100%;
  height: 100%;
  color: #32294d;
  font-family: "Source Sans Pro", sans-serif;
  /* overflow: hidden; */
}

.nav {
  margin: 20px 80px;
  display: flex;
  justify-content: space-between;
}

.nav a {
  color: #9175db;
  font-size: 20px;
  text-decoration: none;
}

.grid-1 {
  display: flex;
  align-items: center;
  justify-content: start;
}

.grid-container{
  margin-bottom: 20px;
}

.grid-2 {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 50px;
}

.grid-2 img {
  height: 85vh;
}

.grid-1-content {
  text-align: center;
  justify-content: center;
  margin-bottom: 100px;
  margin-left: 20%;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  padding: 0 40px;
  margin-bottom: 80px;
}

.cta {
  background-color: #9175db;
  color: white;
  font-size: 18px;
  padding: 30px 50px;
  margin: 0 auto;
  border-radius: 100px;
  border-style: none;
  letter-spacing: 1.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta img {
  height: 35px;
  margin-left: 15px;
}

.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 50% 50%;
}

.grid-container-footer {
  display: grid;
  grid-template-columns: 50% 50%;
}

.grid-1-footer {
  margin-left: 50%;
}

.grid-2-footer {
  margin-right: 50%;
}

@media only screen and (max-device-width: 1000px) {
  h1 {
    font-size: 35px;
    padding: 0;
    margin-bottom: 50px;
    padding: 0px 150px;
  }

  .nav {
    margin: 5px 10px;
  }

  .cta {
    font-size: 16px;
    padding: 25px 30px;
    font-size: 16px;
  }

  .grid-1 {
    /* display: flex; */
    display: block;
    align-items: center;
    justify-content: start;
  }

  .grid-2 {
    display: block;
  }

  .grid-1-content {
    text-align: center;
    justify-content: center;
    margin-bottom: 0;
    margin-left: 0;
  }

  .navbar {
    margin-bottom: 20px;
  }

  .grid-2 {
    text-align: center;
  }

  .navbar button {
    color: #9175db;
    border: 2px solid #9175db;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 100%;
    /* *height: 100vh;* */
  }

  .grid-2 {
    margin-top: 60px;
  }

  .grid-container {
    padding-top: 20px;
  }
}

@media only screen and (max-device-width: 768px) {
  h1 {
    font-size: 30px;
    padding: 5px;
    margin-bottom: 50px;
  }

  .nav {
    margin: 5px 10px;
  }

  .cta {
    font-size: 16px;
    padding: 25px 18px;
    font-size: 14px;
  }

  .grid-1-content {
    margin: 0;
  }

  .navbar {
    margin-bottom: 20px;
  }

  .grid-2 {
    text-align: center;
    margin: 0 auto;
  }

  .navbar button {
    color: #9175db;
    border: 2px solid #9175db;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 100%;
    /* *height: 100vh;* */
  }

  .grid-2 {
    margin-top: 60px;
  }

  .grid-container {
    padding-top: 20px;
  }
}

.dot-container{
  text-align: center;
  margin-top: 50px;
}

.dot {
  height: 25px;
  width: 25px;
  margin: 0 20px;
  background-color: #E8EAED;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* .dot */
/* .active {
  background-color: #9175DB;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
} */